<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!-- TIAGo controllers -->
  <!--<include file="$(find tiago_sim_robocup2021)/launch/tiago_sim_controllers.launch" >
    <arg name="ft_sensor"           value="schunk-ft"/>
    <arg name="use_moveit_camera"   value="true"/>
  </include>-->
  
  <!-- Allowed joint-value tolerance for validation that trajectory's first point matches current robot state -->
  <param name="/move_group/trajectory_execution/allowed_start_tolerance" value="0.0"/>
  <param name="/move_group/octomap_resolution" value="0.025"/>
  <!--<param name="/move_group/constraint_approximations_path" value="$(find gb_tiago_manipulation_demo)/config/constraint_db/"/>-->
  
  <arg name="rviz"  default="false"/>
  
  <!-- Load definition of pregrasp motion into play_motion namespace -->
  <rosparam command="load" file="$(find gb_tiago_manipulation_demo)/config/pick_motions.yaml" /> 
  <rosparam command="load" file="$(find gb_tiago_manipulation_demo)/config/object_properties.yaml" />
  <param name="/use_sim_time" value="true" />
  <!-- Pick & place server -->
  <node name="pick_and_place_server" pkg="gb_tiago_manipulation_demo" type="octomap_pick_and_place_server.py" output="screen">
      <rosparam command="load" file="$(find gb_tiago_manipulation_demo)/config/pick_and_place_params.yaml" />
  </node>

  <!-- Node exposing service to start looking for the object and trigger the picking -->
  <node name="pick_client" pkg="gb_tiago_manipulation_demo" type="pick_client_mesh.py" output="screen"/>  

  <group if="$(arg rviz)">
      <node name="pick_demo_rviz" pkg="rviz" type="rviz" args="-d $(find gb_tiago_manipulation_demo)/config/rviz/tiago_pick_demo.rviz" />
  </group>
  <node name="tuck_arm" pkg="tiago_gazebo" type="tuck_arm.py" output="screen"/>
  <node name="image_proc" pkg="image_proc" type="image_proc" ns="xtion/rgb"/>
  <node pkg="topic_tools" type="throttle" name="throttle_node" args="messages /xtion/depth_registered/points 4 /throttle_filtering_points/filtered_points" />

</launch>
