<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <include file="$(find gb_tiago_manipulation_demo)/launch/pick_simulation.launch"/>
  <arg name="rviz"  default="true"/>
  
  <!-- Load definition of pregrasp motion into play_motion namespace -->
  <rosparam command="load" file="$(find gb_tiago_manipulation_demo)/config/pick_motions.yaml" /> 
  <param name="/use_sim_time" value="true" />
  <!-- Pick & place server -->
  <node name="pick_and_place_server" pkg="gb_tiago_manipulation_demo" type="octomap_pick_and_place_server.py" output="screen">
      <rosparam command="load" file="$(find gb_tiago_manipulation_demo)/config/pick_and_place_params.yaml" />
  </node>

  <!-- Node exposing service to start looking for the object and trigger the picking -->
  <node name="pick_client" pkg="gb_tiago_manipulation_demo" type="pick_client_mesh.py" output="screen"/>  

  <group if="$(arg rviz)">
      <node name="pick_demo_rviz" pkg="rviz" type="rviz" args="-d $(find gb_tiago_manipulation_demo)/config/rviz/tiago_pick_demo.rviz" />
  </group>

  <node pkg="topic_tools" type="throttle" name="throttle_node" args="messages /xtion/depth_registered/points 2 /throttle_filtering_points/filtered_points" />

</launch>
